<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>146740304197-o7ff7tcigb46rg1more95dde9nsujua8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.146740304197-o7ff7tcigb46rg1more95dde9nsujua8</string>
	<key>API_KEY</key>
	<string>AIzaSyAtUOxTtecPWfdecWcbamz4GhfTsfHWmzU</string>
	<key>GCM_SENDER_ID</key>
	<string>146740304197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TP061271.Tastier</string>
	<key>PROJECT_ID</key>
	<string>tastier-483b2</string>
	<key>STORAGE_BUCKET</key>
	<string>tastier-483b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:146740304197:ios:6c28c2e2c3e54c9b91c62c</string>
</dict>
</plist>